*{
	margin: 0;
	padding: 0;
	font-family: sans-serif, arial;
	letter-spacing: 0.04em;
	line-height: 1.6666;
}
body{
	background-image: url(imagen.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	background-attachment: fixed;
	
}

.bar__top__ul{
	display: block;
}
.li__top{
	display: inline-block;
	padding: 30px;

}
.li__top:first-child{
	margin-left: 60%;
}
.top__enlace{
	text-decoration: none;
	color: #323232;

}
.top__enlace:hover{
	color: #FF5733;
}









.bar__right{
	position: fixed;
	top: 0px;
	right: 0;
}
.nota__left{
	display: flex;
	margin-top: 150px;
	position: absolute;
	left: 0;


}
.nota__left p{
	transform: rotate(-90deg);
}
.enlace{
	
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: #000;
	padding: 16px;
	display: block;
	width: 22px;
	transition:transform .1s;

}
.enlace:hover{
	background-color: #C70039 ;
	transform: scale(1.1);
	
}



/*        presentacion             */
.presentacion{
	display: block;
	width: 90%;
}
.titulo__principal{
	
	color: white;
	font-size: 80px;
	position: relative;
	top: 230px;
	left: 45px;
	
}
.parrafo__principal{
	color: #fff;
	position: relative;
	top: 230px;
	left: 50px;

}



.contactar{
	text-decoration: none;
	border: 2px solid #fff;
	color: #fff;
	padding: 20px 45px;
	text-align: center;
	position: relative;
	top: 300px;
	left: 450px;
}
.contactar:hover{
	color: #000;
	background-color: #fff;
}




.tabla__datos{
	box-sizing: border-box;
	background-color: #e3e3e3;
	width: 450px;
	height: 400px;
	padding: 40px;
	background: rgb(255,255,255,.5);
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
	border-radius: 10px;
	float: right;
}
.tabla__datos__parrafo{
	color:#323232; 
}










.cont1{
	margin-top: 800px;
	background-color: #fff;
	padding: 200px;
	padding-top: 350px;
	padding-bottom: 700px;
}
.titulo_cont1{
	border-bottom:1px solid #e3e3e3;
	font-size:50px;
	margin-bottom: 30px

}

.about__left{
	border: 1px solid #c3c3c3;
	width: 400px;
	height: 300px;
	position: absolute;
	padding: 20px;

}
.about__right{
	width: 400px;
	height: 455px;
	border: 1px solid #c3c3c3;
	position: absolute;
	right: 300px;
	padding: 20px;s
	
	
}
.contacto__box{
	background-image: url(imagen_contacto.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% ;
	background-attachment: fixed;
	height: 1000px;
	padding: 100px;
	padding-top: 200px;


}
.contenedor__contacto{
	background: rgb(255,255,255,.5);
	padding: 50px;
	
}
.contacto__titulo{

	color: white;
	font-size: 45px;
	padding-bottom: 20px;

}
.input__nombre,.input__correo,.input__apellido,.input__telefono{
	color: #323232;
	border: none;
	width: 200px;
	padding: 10px;
	outline: none;
	margin: 10px;
	border-radius: 3px;
}
.btn_enviar{
	padding: 10px 25px;
	margin-left: 65px;
	background: #C70039;
	outline: none;
	
	border: 1px solid #fff;
	color: #fff;
}
.label{
	color: #fff;
	display: block;
	width: 300px;
}
.box-name{
	display: inline-block;
}
.box-correo{
	display: inline-block;
}
.box-apellido{
	display:block;
	width: 300px;
	
}
.box-telefono{
	display: inline-block;
}
.btn_enviar:hover{
	cursor: pointer;
	color: #000;
	background-color: #fff;
	border: 1px solid #323232;
}

.icono{
	font-family: pangolin;
	line-height: -10px;
	position: absolute;
	font-size: 40px;
	color: black;
	text-decoration: none;
	top: 10px;		
	left: 20%;
	transition: transform .3s;+

}
.icono:hover{
	transform: scale(1.1);
}
